*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
    letter-spacing: 0.4px;
}
body{
    background-color: rgb(111, 79, 79);
    height: 100%;
    background: linear-gradient(
        135deg,
        #0c0c0c,
        #ccc3c3
    ) fixed;
    background-size: 100% 50%;
    background-repeat: no-repeat;
}
.container{
    background-color: #dc3737;
    width: 450px;
    padding: 50px 40px;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 30px 50px rgba(0,0,0,0.1);
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}
.lbl{
    font-size: 16px;
    color: #44475b;
    font-weight: 400;
}
.val{
    color: #44475b;
    font-weight: 500;
    font-size: 18px;
}
.input-box{
    background-color: #3b0c0c;
    color: #f44a4a;
    padding: 5px;
    border-radius: 10px;
}
#bill{
    background-color: transparent;
    border: none;
    outline: none;
    width: 100px;
    text-align: right;
    color: #e76666;
}
hr{
    border: none;
    border-bottom: 1px solid #b44545;
}
input[type="range"]{
    width: 100%;
    cursor: pointer;
}
input[type="range"]:not(:last-child){
    margin-bottom: 5px;
}
section:not(:last-child){
    margin-bottom: 40px;
}
section:not(:first-child){
    margin-top: 40px;
}
section:last-child{
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
}
section:last-child .val,
section:last-child .lbl{
    color: #333;
}

header{
    padding-left: 420px;
    margin: 10px 0 0 10px;
    animation: header 0.7s alternate infinite;
    transition: all 0.5s ease-in-out;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background: linear-gradient(80deg, wheat 10%, gray 90%);
    text-align: center;
  }
.footer p {
  text-decoration: none;
  color: white;
  font-size:20px;
}
  .footer a {
    text-decoration: none;
    color: rgb(84, 15, 15);
    padding-left: 10px;
  }
  .footer a:hover {
    text-decoration: underline;
    color: rgb(94, 86, 70);
  }

@keyframes header{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0.8);
    }
}